<!DOCTYPE html>
<html lang="ko">
<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/Style.css')}}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>연습</title>
</head>
<body>
    <div id = "board">
        <div id="wapper">
            <!--헤더시작-->
           <div id="maintop">BITCAMP SPORTS NEWS</div>
           <h4>BIT SPORTS - 비트스포츠 </h4>
            <header>
                <ul>
                <li>농구</li>
                <li>야구</li>
                <li>배구</li>
                <li>축구</li>
                <li>테니스</li>
                <li>골프</li>
               
            </ul>
            </header>
            <!--네비게이션-->
            <div id = "board1">
            <nav>
                <p>[농구] 커뮤니티</p>
                <ul>
                    <li><a href="http://www.naver.com">하이라이트</a></li>
                    <li><a href="http://www.google.com">주요장면</a></li>
                    <li><a href="https://blog.naver.com/sungbumvv">NBA</a></li>
                    <li><a href="https://blog.naver.com/sungbumvv">KBL</a></li>
                    <li><a href="https://blog.naver.com/sungbumvv">대학농구</a></li>
                </ul>
            </nav>


            <!--콘텐츠부분-->
            <!-- section :여러 중심내용 감싸기 -->
            <section>
                <p>[농구] 뉴스 기사</p>
                <!-- article : 글자가 많이 들어가는 부분 -->
                <article> 
                  <li>NBA - 토론토 드로잔, 케이시 감독 따라 디트로이트行?</li>
                  <li>KBL - SK, 미국 얼바인에서 스킬 트레이닝 실시</li>
                  <li>국내 - 휘문중 김선우, "어시스트 잘 하는 선수가 목표"</li>
                  <li>NBA - 레이커스, 레너드 트레이드에 적극 관심 표명!</li>
                </article>
            </section>
            
            
            <!-- aside : 사이드바-->
            <aside>
                <p>[농구] 순위</p>
                <UL>
                    <li>득점 순위</li>
                    <li>어시스트 순위</li>
                    <li>팀 순위</li>
                </UL>
            </aside>
            
        </div>


            <!--풋터-->
            <footer>
                    <img src="http://www.mbcsportsplus.com/images/img/img_mainbanner02_sample.jpg">
                    <img src="http://www.mbcsportsplus.com/data/board/attach/2017/02/20170215163534_fuhalpxl.jpg">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTganYlbDeqo2eNfUHKl4H9X33eMrBB86xb2o5KJL-BvqSRNCN9">
                    <ul>
                            <li>오시는길</li>
                            <li>고객센터</li>
                            <li>회사소개</li>
                            <li>인재채용</li>
                        </ul>
            </footer>
           
        </div>
        </div>
    </body>
    
    
</html>